/* ------------------ le responsive mobile ---------------------- */
/* mobile */
@media(min-width:0px) and (max-width:500px){
    /* couleurs reutilisables */
    html{
        --var-bleu1-color:#0FC7E8;
        --var-bleu2-color:#87D7E7;
        --var-bleu3-color:#1D1DFF;
        --var-bleu4-color:#44C7CE;
        --var-gris-color:#D9D9D9;
        --var-bleu5-color:#2b7d8c;
    }
    body{
        text-align: center;
        margin: auto;
    }
    p{
        font-family: 'Arial', sans-serif;
        margin: 0px;
        color: #23454c;
    }
        /* header : UCC DOCS */
        #Nom_Appli{
            height: 90px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--var-bleu1-color);
            color: white;
            height:50px ;
        }
    
        /* header : icone1(logo) */
        #icone_ucc {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--var-bleu2-color);
            color: white;
            gap: 33%;
        }
        /* logo ucc */
        #logo_ucc{
            border-radius: 22px;
            width: 37px;
            height: 36px;
        }
        #text{
            padding: 15px;
        }

        /* corps avec options */
        #conteneur{
            height: 500px;
            display: grid;
            margin: 20px;
            gap: 10px;
            text-align: center;
            justify-content: center;
            align-items: center;

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas:
                "Attestation_scolarite releve_notes"
                "certifcat_reussite lettre_recommandation"
        }
        #icon {
            width: 90%;
        }


        /* barre de navigation  */
        #nav_bar {
            height: 75px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:rgba(38, 116, 107, 0.271);
            color: white;
            gap: 37%;
            bottom: 0;
            left: 0;
            /* position: fixed; */
        }
        /* sous div1 de la barre de navigation */
        #icone_nav {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            gap: 15%;
        }
        /* icons de la barre de nav */
        #icons{
            width: 37px;
            height: 36px;
        }
        /* boutons de la barre de nav */
        .bouton{
            border-radius: 20px;
            text-align: center !important;
            background-color: #2b7d8c7b ;
            width: 70px;
            height: 40px;
            text-decoration: none;
            cursor: pointer;
        }
    
}