/* ------------------ le responsive mobile ---------------------- */
/* mobile */
@media(min-width:0px) and (max-width:659px){
    /* couleurs reutilisables */
    html{
        --var-bleu1-color:#0FC7E8;
        --var-bleu2-color:#87D7E7;
        --var-bleu3-color:#1D1DFF;
        --var-bleu4-color:#44C7CE;
        --var-gris-color:#D9D9D9;
        --var-bleu5-color:#2b7d8c;
    }
    body{
        margin: auto;
        height: 100vh;
    }
    
}